* {
  margin: 0;
  padding: 0;
}

html, body {
  position: absolute;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
}

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: auto;
  background: purple;
}

.vsNetworkMain {
  position: absolute;
  top: 0px;
  bottom: 0px;
  box-sizing: border-box;
  overflow: auto;
  width: 500px;
  height: 500px;
}

.box1 {
  position: absolute;
  width: 700px;
  height: 650px;
  top: 40px;
  left: 130px;
  background: lightblue;
  overflow: auto;

}

.box2 {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 60px;
  left: 70px;
  background: blue;
  overflow: auto;
  
}