* {
  margin: 0;
  padding: 0;
}

html, body {
  position: absolute;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
}

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: auto;
  background: purple;
}

.vsNetworkMain {
  position: absolute;
  top: 0px;
  bottom: 0px;
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
}